@import url('https://fonts.cdnfonts.com/css/gill-sans');

body {
  margin: 0;
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  font-weight: lighter;
}

header {
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4369b2;
  color: #fff;

  a {
    text-decoration: none;
    color: inherit;
  }
}

h1 {
  margin: 0;
  font-weight: 100;
}

section {
  padding-top: 50px;
  box-sizing: border-box;
  min-height: 100vh;
  background: #4369b2;
  color: #fff;
}

.coinList {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.card {
  text-decoration: none;
  color: inherit;

  h2 {
    margin-bottom: 0;
    font-weight: bold;
  }
}

.card:nth-child(4n),
.card:nth-child(4n+3) {
  background: #3f63a6;
}

.card:first-child {
  background: #5789e6;
  grid-column: 1/3;
}

.detail {
  padding: 30px;
  text-align: center;
  background: #5789e6;

  h2,
  p {
    margin: 0;
  }
}

.detailList {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: right;

  div {
    height: 50px;
  }

  div:nth-child(2n) {
    padding-left: 20px;
    text-align: left;
  }
}

.infos {
  display: flex;
}

.title {
  text-align: center;
  background: #3f63a6;
}

.dark {
  background: #3f63a6;
}

.back {
  padding: 10px;
  color: #fff;
}
